.container {
  display: flexbox;
  margin: auto;
  height: 100%;
  width: 100%;
}
.city-view {
  /* display: flex; */
  height: 78%;
  width: 90%;
  margin: auto;
  overflow: auto;
}
.city-form {
  /* display: flex; */
  height: 20%;
  width: 90%;
  margin: auto;
}
