<div class="container">
  <div class="city-view">
    <mat-grid-list cols="5" rowHeight="2:3">
      <mat-grid-tile *ngFor="let item of cityList">
        <app-city-view
          style="margin: 20px"
          [city]="item"
          (updateWeather)="addCity($event)"
          (removeCityWeather)="onRemoveCity($event)"
        ></app-city-view>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <hr />
  <div class="city-form">
    <app-city-form (updateWeather)="addCity($event)"></app-city-form>
  </div>
</div>
