<button mat-flat-button color="primary">Input City Name</button>
<div style="display: grid; grid-template-columns: auto auto">
  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <input
        type="text"
        placeholder="Pick one"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Add City !
  </button>
</div>
