<mat-card class="card">
  <mat-card-header>
    <!-- prettier-ignore -->
    <div
      mat-card-avatar
      class="header-image"
      style="background-image: url(http://openweathermap.org/img/w/{{city.Weather.icon}}.png);"
    ></div>
    <mat-card-title>{{ city.City.Name }}</mat-card-title>
    <mat-card-title>{{ city.Weather.temp }}</mat-card-title>
    <mat-card-subtitle>{{ city.City.CountryName }}</mat-card-subtitle>
    <mat-card-subtitle>{{ city.Weather.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>feels like: {{ city.Weather.feels_like }}</li>
      <li>humidity: {{ city.Weather.humidity }}</li>
      <li>max temp: {{ city.Weather.temp_max }}</li>
      <li>min temp: {{ city.Weather.temp_min }}</li>
      <li>pressure: {{ city.Weather.pressure }}</li>
      <li>sea level: {{ city.Weather.sea_level }}</li>
      <li>grnd level: {{ city.Weather.grnd_level }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onUpdateClick()">Update</button>
    <button mat-button (click)="onRemoveClick()">Remove</button>
  </mat-card-actions>
</mat-card>
